inwlms/src/main/resources/static/template/a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="widge">
		<xs:annotation>
			<xs:documentation>根节点</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="css" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="src" use="required">
							<xs:annotation>
								<xs:documentation>样式文件地址</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="script" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="src" use="required">
							<xs:annotation>
								<xs:documentation>脚本地址</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:group ref="group" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="fontcolor">
		<xs:annotation>
			<xs:documentation>字体颜色</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="main-style"/>
			<xs:enumeration value="primary"/>
			<xs:enumeration value="success"/>
			<xs:enumeration value="warning"/>
			<xs:enumeration value="danger"/>
			<xs:enumeration value="info"/>
			<xs:enumeration value="royal"/>
			<xs:enumeration value="drakgray"/>
			<xs:enumeration value="blackgray"/>
			<xs:enumeration value="gray"/>
			<xs:enumeration value="whitegray"/>
			<xs:enumeration value="lightgray"/>
			<xs:enumeration value="white"/>
			<xs:enumeration value="black"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bordercolor">
		<xs:annotation>
			<xs:documentation>边框颜色</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="main-style"/>
			<xs:enumeration value="primary"/>
			<xs:enumeration value="success"/>
			<xs:enumeration value="warning"/>
			<xs:enumeration value="danger"/>
			<xs:enumeration value="info"/>
			<xs:enumeration value="royal"/>
			<xs:enumeration value="drakgray"/>
			<xs:enumeration value="blackgray"/>
			<xs:enumeration value="gray"/>
			<xs:enumeration value="whitegray"/>
			<xs:enumeration value="lightgray"/>
			<xs:enumeration value="white"/>
			<xs:enumeration value="black"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bgcolor">
		<xs:annotation>
			<xs:documentation>背景色</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="main-style"/>
			<xs:enumeration value="primary"/>
			<xs:enumeration value="success"/>
			<xs:enumeration value="warning"/>
			<xs:enumeration value="danger"/>
			<xs:enumeration value="info"/>
			<xs:enumeration value="royal"/>
			<xs:enumeration value="drakgray"/>
			<xs:enumeration value="blackgray"/>
			<xs:enumeration value="gray"/>
			<xs:enumeration value="whitegray"/>
			<xs:enumeration value="lightgray"/>
			<xs:enumeration value="white"/>
			<xs:enumeration value="black"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="size">
		<xs:annotation>
			<xs:documentation>大小</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="giant"/>
			<xs:enumeration value="large"/>
			<xs:enumeration value="medium"/>
			<xs:enumeration value="small"/>
			<xs:enumeration value="tiny"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="button-style">
		<xs:annotation>
			<xs:documentation>按钮风格</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="plain"/>
			<xs:enumeration value="threed"/>
			<xs:enumeration value="raised"/>
			<xs:enumeration value="blur"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="radius">
		<xs:annotation>
			<xs:documentation>四边弧度</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="circle"/>
			<xs:enumeration value="pill"/>
			<xs:enumeration value="box"/>
			<xs:enumeration value="rounded"/>
			<xs:enumeration value="square"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:group name="group">
		<xs:choice>
			<xs:element name="fixed-input" type="fixed-input" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="textspan" type="textspan" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="paragraph" type="paragraph" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="img" type="img" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="radio" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="class"/>
					<xs:attribute name="id"/>
					<xs:attribute name="name" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="checkbox" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="name"/>
					<xs:attribute name="class"/>
					<xs:attribute name="id"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="button" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="button">
							<xs:attribute name="caption"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="toggle-button" type="toggle-button" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="img-text" type="img-text" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="button-group" type="button-group" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="hit" type="hit" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="list-selector" type="list-selector" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="datapicker" type="datapicker" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="padding-layout" type="padding-layout" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="tip" type="tip" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pop" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType mixed="1">
					<xs:complexContent>
						<xs:extension base="pop"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="condition" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType mixed="1">
					<xs:complexContent>
						<xs:extension base="condition"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="line" type="line" minOccurs="0"/>
			<xs:element name="br" type="br" minOccurs="0"/>
			<xs:element name="table" type="table" minOccurs="0"/>
			<xs:element name="nav" type="nav" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="grid" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="grid"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="userblock" type="userblock" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="iconinput" type="iconinput" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:group>
	<xs:group name="cell">
		<xs:annotation>
			<xs:documentation>简单元素</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="img" type="img"/>
			<xs:element name="img-text" type="img-text"/>
			<xs:element name="textspan" type="textspan"/>
			<xs:element name="fixed-input" type="fixed-input"/>
			<xs:element name="button" type="button"/>
			<xs:element name="list-selector" type="list-selector"/>
			<xs:element name="button-group" type="button-group"/>
			<xs:element name="userblock" type="userblock"/>
			<xs:element name="iconinput" type="iconinput"/>
			<xs:element name="toggle-button" type="toggle-button"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="button">
		<xs:annotation>
			<xs:documentation>按钮</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common-attribute">
				<xs:attribute name="size">
					<xs:simpleType>
						<xs:restriction base="size"/>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="fontcolor" type="fontcolor"/>
				<xs:attribute name="bgcolor" type="bgcolor"/>
				<xs:attribute name="radius">
					<xs:annotation>
						<xs:documentation>边框弧度</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="radius"/>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="style">
					<xs:annotation>
						<xs:documentation>风格</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="button-style"/>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="preicon">
					<xs:annotation>
						<xs:documentation>按钮前的图标</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="suricon">
					<xs:annotation>
						<xs:documentation>按钮后的图标</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="text">
					<xs:annotation>
						<xs:documentation>按钮的文字</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="action">
					<xs:annotation>
						<xs:documentation>点击事件</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="cutting-line">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="cutting-line"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="button-group">
		<xs:annotation>
			<xs:documentation>图标组</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common-attribute">
				<xs:sequence>
					<xs:element name="button" minOccurs="2" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="button"/>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="color" type="bgcolor">
					<xs:annotation>
						<xs:documentation>按钮颜色</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="radius">
					<xs:annotation>
						<xs:documentation>按钮两边的弧度</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="radius"/>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="style">
					<xs:annotation>
						<xs:documentation>按钮的风格</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="button-style"/>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="size">
					<xs:annotation>
						<xs:documentation>按钮大小</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="size"/>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="cutting-line">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="cutting-line"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="textspan">
		<xs:annotation>
			<xs:documentation>文本</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common-attribute">
				<xs:choice>
					<xs:element name="text" type="xs:string" minOccurs="0"/>
				</xs:choice>
				<xs:attribute name="color" type="fontcolor"/>
				<xs:attribute name="font-size"/>
				<xs:attribute name="bordercolor" type="bordercolor"/>
				<xs:attribute name="bgcolor" type="bgcolor"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="paragraph">
		<xs:annotation>
			<xs:documentation>文字段落</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common-attribute">
				<xs:choice>
					<xs:element name="text" type="xs:string" minOccurs="0"/>
				</xs:choice>
				<xs:attribute name="color" type="fontcolor"/>
				<xs:attribute name="icon"/>
				<xs:attribute name="font-size"/>
				<xs:attribute name="bgcolor"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="img">
		<xs:annotation>
			<xs:documentation>图片</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common-attribute">
				<xs:attribute name="alt">
					<xs:annotation>
						<xs:documentation>图片描述</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="src">
					<xs:annotation>
						<xs:documentation>图片地址</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="width">
					<xs:annotation>
						<xs:documentation>宽度</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="height">
					<xs:annotation>
						<xs:documentation>高度</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="iconinput">
		<xs:annotation>
			<xs:documentation>带图标录入框</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common-attribute">
				<xs:attribute name="prefix">
					<xs:annotation>
						<xs:documentation>前缀图标</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="surfix">
					<xs:annotation>
						<xs:documentation>后缀图标</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="type">
					<xs:annotation>
						<xs:documentation>录入框类型</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="button"/>
							<xs:enumeration value="checkbox"/>
							<xs:enumeration value="color"/>
							<xs:enumeration value="date"/>
							<xs:enumeration value="datetime"/>
							<xs:enumeration value="datetime-local"/>
							<xs:enumeration value="month"/>
							<xs:enumeration value="week"/>
							<xs:enumeration value="time"/>
							<xs:enumeration value="email"/>
							<xs:enumeration value="file"/>
							<xs:enumeration value="hidden"/>
							<xs:enumeration value="image"/>
							<xs:enumeration value="number"/>
							<xs:enumeration value="password"/>
							<xs:enumeration value="radio"/>
							<xs:enumeration value="range"/>
							<xs:enumeration value="reset"/>
							<xs:enumeration value="search"/>
							<xs:enumeration value="submit"/>
							<xs:enumeration value="tel"/>
							<xs:enumeration value="text"/>
							<xs:enumeration value="url"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="width">
					<xs:annotation>
						<xs:documentation>宽度</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="img-text">
		<xs:annotation>
			<xs:documentation>图文混合</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common-attribute">
				<xs:attribute name="bordercolor" type="bordercolor">
					<xs:annotation>
						<xs:documentation>边框颜色</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="bgcolor" type="bgcolor">
					<xs:annotation>
						<xs:documentation>背景色</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="height">
					<xs:annotation>
						<xs:documentation>高度</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="width">
					<xs:annotation>
						<xs:documentation>宽度</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="fontsize">
					<xs:annotation>
						<xs:documentation>字体大小</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="picwidth">
					<xs:annotation>
						<xs:documentation>图标(图片)宽度</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="relative" default="UP">
					<xs:annotation>
						<xs:documentation>图和文字的相对关系(图在文字的哪个方向)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="UP"/>
							<xs:enumeration value="DOWN"/>
							<xs:enumeration value="LEFT"/>
							<xs:enumeration value="RIGHT"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="icon">
					<xs:annotation>
						<xs:documentation>图标，图标比图片优先</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="pic">
					<xs:annotation>
						<xs:documentation>图片链接</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="text">
					<xs:annotation>
						<xs:documentation>文字</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="fixed-input">
		<xs:annotation>
			<xs:documentation>文字 icon input 布局</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common-attribute">
				<xs:choice>
					<xs:group ref="cell" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
				<xs:attribute name="icon"/>
				<xs:attribute name="prefix">
					<xs:annotation>
						<xs:documentation>前缀文字</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="prefix-icon">
					<xs:annotation>
						<xs:documentation>前面图标</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="surfix">
					<xs:annotation>
						<xs:documentation>后缀文字</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="surfix-icon">
					<xs:annotation>
						<xs:documentation>后图标</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="bgcolor" type="bgcolor">
					<xs:annotation>
						<xs:documentation>背景颜色</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="fontcolor" type="fontcolor">
					<xs:annotation>
						<xs:documentation>字体</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="bordercolor" type="bordercolor">
					<xs:annotation>
						<xs:documentation>边框颜色</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="width">
					<xs:annotation>
						<xs:documentation>宽度</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="prefix-width">
					<xs:annotation>
						<xs:documentation>前缀宽度</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="surfix-width">
					<xs:annotation>
						<xs:documentation>后缀宽度</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="list-selector">
		<xs:annotation>
			<xs:documentation>多项选择(单选，复选，切换按钮)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common-attribute">
				<xs:choice>
					<xs:element name="option" type="option" maxOccurs="unbounded"/>
				</xs:choice>
				<xs:attribute name="type">
					<xs:annotation>
						<xs:documentation>类型</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="select"/>
							<xs:enumeration value="checkbox"/>
							<xs:enumeration value="radio"/>
							<xs:enumeration value="togglebutton"/>
							<xs:enumeration value="dropdown"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="size">
					<xs:annotation>
						<xs:documentation>当Type为list时size生效</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="option">
		<xs:annotation>
			<xs:documentation>多项选择用</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common-attribute">
				<xs:attribute name="onclick">
					<xs:annotation>
						<xs:documentation>点击事件</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="value">
					<xs:annotation>
						<xs:documentation>值</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="caption">
					<xs:annotation>
						<xs:documentation>内容</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="disable">
					<xs:annotation>
						<xs:documentation>无效</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="selected">
					<xs:annotation>
						<xs:documentation>被选中</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="bgcolor" type="bgcolor">
					<xs:annotation>
						<xs:documentation>背景色</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="bordercolor" type="bordercolor">
					<xs:annotation>
						<xs:documentation>边框色</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="toggle-button">
		<xs:annotation>
			<xs:documentation>切换按钮</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common-attribute">
				<xs:attribute name="size" type="size">
					<xs:annotation>
						<xs:documentation>按钮大小</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ontxt">
					<xs:annotation>
						<xs:documentation>ON时显示的文本</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="offtxt">
					<xs:annotation>
						<xs:documentation>OFF时显示的文本</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="oncolor">
					<xs:annotation>
						<xs:documentation>ON时的颜色</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="offcolor">
					<xs:annotation>
						<xs:documentation>OFF时的颜色</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="value">
					<xs:annotation>
						<xs:documentation>值</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="on"/>
							<xs:enumeration value="off"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="hit" mixed="1">
		<xs:annotation>
			<xs:documentation>右上角注释文字</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id">
			<xs:annotation>
				<xs:documentation>标识</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="class">
			<xs:annotation>
				<xs:documentation>class属性</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="color" type="bgcolor">
			<xs:annotation>
				<xs:documentation>颜色</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="text">
			<xs:annotation>
				<xs:documentation>文本</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name">
			<xs:annotation>
				<xs:documentation>name属性</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="datapicker">
		<xs:annotation>
			<xs:documentation>日历</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id"/>
		<xs:attribute name="name"/>
		<xs:attribute name="class"/>
		<xs:attribute name="icon">
			<xs:annotation>
				<xs:documentation>前缀小图标</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="icon-calendar"/>
					<xs:enumeration value="icon-calendar-1"/>
					<xs:enumeration value="icon-clock"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="prefix">
			<xs:annotation>
				<xs:documentation>前缀文字</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type">
			<xs:annotation>
				<xs:documentation>选择类型</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="datepicker"/>
					<xs:enumeration value="reservation"/>
					<xs:enumeration value="reservationtime"/>
					<xs:enumeration value="datepickertime"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="padding-layout">
		<xs:annotation>
			<xs:documentation>九宫格式布局</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common-attribute">
				<xs:choice maxOccurs="unbounded">
					<xs:element name="fixedbox" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="common-attribute">
									<xs:sequence>
										<xs:group ref="group" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="bgcolor" type="bgcolor"/>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="leftbox" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="common-attribute">
									<xs:sequence>
										<xs:group ref="group" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="height"/>
									<xs:attribute name="width"/>
									<xs:attribute name="bgcolor" type="bgcolor"/>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="topbox" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="common-attribute">
									<xs:sequence>
										<xs:group ref="group" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="width"/>
									<xs:attribute name="height"/>
									<xs:attribute name="bgcolor" type="bgcolor"/>
									<xs:attribute name="fontcolor" type="fontcolor"/>
									<xs:attribute name="bordercolor" type="bordercolor"/>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="rightbox" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="common-attribute">
									<xs:attribute name="height"/>
									<xs:attribute name="width"/>
									<xs:attribute name="bgcolor" type="bgcolor"/>
									<xs:attribute name="fontcolor" type="fontcolor"/>
									<xs:attribute name="bordercolor" type="bordercolor"/>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="bottombox" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="common-attribute">
									<xs:sequence>
										<xs:group ref="group"/>
									</xs:sequence>
									<xs:attribute name="fontcolor" type="fontcolor"/>
									<xs:attribute name="width"/>
									<xs:attribute name="height"/>
									<xs:attribute name="bgcolor" type="bgcolor"/>
									<xs:attribute name="bordercolor" type="bordercolor"/>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:choice>
				<xs:attribute name="scolor" type="bgcolor"/>
				<xs:attribute name="bgcolor" type="bgcolor"/>
				<xs:attribute name="bordercolor" type="bordercolor"/>
				<xs:attribute name="fontcolor" type="fontcolor"/>
				<xs:attribute name="boxwidth"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tip" mixed="1">
		<xs:annotation>
			<xs:documentation>提示信息框</xs:documentation>
		</xs:annotation>
		<xs:attribute name="direction">
			<xs:annotation>
				<xs:documentation>箭头方向</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="north"/>
					<xs:enumeration value="east"/>
					<xs:enumeration value="south"/>
					<xs:enumeration value="west"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="for">
			<xs:annotation>
				<xs:documentation>提示框对应的元素ID</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="bgcolor" type="bgcolor">
			<xs:annotation>
				<xs:documentation>边框颜色</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fontcolor" type="fontcolor">
			<xs:annotation>
				<xs:documentation>字体颜色</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="bordercolor" type="bordercolor">
			<xs:annotation>
				<xs:documentation>边框颜色</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="tipstyle">
			<xs:annotation>
				<xs:documentation>提示框风格</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="hiddentip"/>
					<xs:enumeration value="showtip"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="pop" mixed="1">
		<xs:annotation>
			<xs:documentation>弹出框</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="footer" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="common-attribute">
							<xs:attribute name="text">
								<xs:annotation>
									<xs:documentation>文字</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="color">
								<xs:annotation>
									<xs:documentation>颜色</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="font-size">
								<xs:annotation>
									<xs:documentation>大小</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="action">
								<xs:annotation>
									<xs:documentation>事件</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id"/>
		<xs:attribute name="name"/>
		<xs:attribute name="class"/>
		<xs:attribute name="type">
			<xs:annotation>
				<xs:documentation>类型</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ERROR"/>
					<xs:enumeration value="WARNING"/>
					<xs:enumeration value="INFO"/>
					<xs:enumeration value="SUCCESS"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="icon">
			<xs:annotation>
				<xs:documentation>信息图标</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="title">
			<xs:annotation>
				<xs:documentation>标题文字</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="color" type="fontcolor">
			<xs:annotation>
				<xs:documentation>标题颜色</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fontsize">
			<xs:annotation>
				<xs:documentation>字体大小</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="width">
			<xs:annotation>
				<xs:documentation>宽度</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="height">
			<xs:annotation>
				<xs:documentation>高度</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="closable" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>是否有关闭按钮</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="relative">
			<xs:annotation>
				<xs:documentation>九个方向，按小键盘定位</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="form-layout" mixed="1">
		<xs:annotation>
			<xs:documentation>条件框或录入框</xs:documentation>
		</xs:annotation>
		<xs:group ref="group" minOccurs="0" maxOccurs="unbounded"/>
	</xs:complexType>
	<xs:complexType name="collapsing" mixed="1">
		<xs:annotation>
			<xs:documentation>手风琴样式(未做)</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id"/>
		<xs:attribute name="class"/>
		<xs:attribute name="name"/>
		<xs:attribute name="icon"/>
		<xs:attribute name="bgcolor" type="bgcolor"/>
		<xs:attribute name="fontcolor" type="fontcolor"/>
		<xs:attribute name="bordercolor" type="bordercolor"/>
	</xs:complexType>
	<xs:complexType name="condition" mixed="1">
		<xs:annotation>
			<xs:documentation>查询条件</xs:documentation>
		</xs:annotation>
		<xs:group ref="group" maxOccurs="unbounded"/>
	</xs:complexType>
	<xs:complexType name="table">
		<xs:annotation>
			<xs:documentation>表格</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="div">
				<xs:complexType>
					<xs:choice>
						<xs:element name="row" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="common-attribute">
										<xs:choice minOccurs="0">
											<xs:element name="cell" maxOccurs="unbounded">
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="common-attribute">
															<xs:choice>
																<xs:group ref="cell" maxOccurs="unbounded"/>
															</xs:choice>
															<xs:attribute name="colspan"/>
															<xs:attribute name="rowspan"/>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
										</xs:choice>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:choice>
					<xs:attribute name="type" default="body">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="body"/>
								<xs:enumeration value="header"/>
								<xs:enumeration value="footer"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="id"/>
		<xs:attribute name="name"/>
		<xs:attribute name="class"/>
		<xs:attribute name="style">
			<xs:annotation>
				<xs:documentation>风格</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="stripe"/>
					<xs:enumeration value="border"/>
					<xs:enumeration value="stripe border"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="line">
		<xs:annotation>
			<xs:documentation>分割线</xs:documentation>
		</xs:annotation>
		<xs:attribute name="class"/>
		<xs:attribute name="id"/>
		<xs:attribute name="bgcolor" type="bgcolor"/>
		<xs:attribute name="width"/>
		<xs:attribute name="height"/>
	</xs:complexType>
	<xs:complexType name="br">
		<xs:annotation>
			<xs:documentation>换行</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="nav">
		<xs:annotation>
			<xs:documentation>菜单导航</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common-attribute">
				<xs:choice>
					<xs:element name="navitem" type="navitem" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
				<xs:attribute name="style">
					<xs:annotation>
						<xs:documentation>风格</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="horizontal"/>
							<xs:enumeration value="vertical"/>
							<xs:enumeration value="horizontal02"/>
							<xs:enumeration value="horizontal03"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="bgcolor" type="bgcolor">
					<xs:annotation>
						<xs:documentation>背景色</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="navitem">
		<xs:annotation>
			<xs:documentation>下级菜单</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common-attribute">
				<xs:sequence>
					<xs:element name="navitem" type="navitem" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="onclick"/>
				<xs:attribute name="preicon"/>
				<xs:attribute name="suricon"/>
				<xs:attribute name="fontcolor" type="fontcolor"/>
				<xs:attribute name="text"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="grid">
		<xs:annotation>
			<xs:documentation>网格</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="common-attribute">
				<xs:choice>
					<xs:element name="row" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="common-attribute">
									<xs:choice>
										<xs:element name="col" maxOccurs="unbounded">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="common-attribute">
														<xs:sequence>
															<xs:element name="width" minOccurs="0" maxOccurs="unbounded">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="col-xs-12"/>
																		<xs:enumeration value="col-xs-11"/>
																		<xs:enumeration value="col-xs-10"/>
																		<xs:enumeration value="col-xs-9"/>
																		<xs:enumeration value="col-xs-8"/>
																		<xs:enumeration value="col-xs-7"/>
																		<xs:enumeration value="col-xs-6"/>
																		<xs:enumeration value="col-xs-5"/>
																		<xs:enumeration value="col-xs-4"/>
																		<xs:enumeration value="col-xs-3"/>
																		<xs:enumeration value="col-xs-2"/>
																		<xs:enumeration value="col-xs-1"/>
																		<xs:enumeration value="col-sm-1"/>
																		<xs:enumeration value="col-sm-2"/>
																		<xs:enumeration value="col-sm-3"/>
																		<xs:enumeration value="col-sm-4"/>
																		<xs:enumeration value="col-sm-5"/>
																		<xs:enumeration value="col-sm-6"/>
																		<xs:enumeration value="col-sm-7"/>
																		<xs:enumeration value="col-sm-8"/>
																		<xs:enumeration value="col-sm-9"/>
																		<xs:enumeration value="col-sm-10"/>
																		<xs:enumeration value="col-sm-11"/>
																		<xs:enumeration value="col-sm-12"/>
																		<xs:enumeration value="col-md-1"/>
																		<xs:enumeration value="col-md-2"/>
																		<xs:enumeration value="col-md-3"/>
																		<xs:enumeration value="col-md-4"/>
																		<xs:enumeration value="col-md-5"/>
																		<xs:enumeration value="col-md-6"/>
																		<xs:enumeration value="col-md-7"/>
																		<xs:enumeration value="col-md-8"/>
																		<xs:enumeration value="col-md-9"/>
																		<xs:enumeration value="col-md-10"/>
																		<xs:enumeration value="col-md-11"/>
																		<xs:enumeration value="col-md-12"/>
																		<xs:enumeration value="col-lg-1"/>
																		<xs:enumeration value="col-lg-2"/>
																		<xs:enumeration value="col-lg-3"/>
																		<xs:enumeration value="col-lg-4"/>
																		<xs:enumeration value="col-lg-5"/>
																		<xs:enumeration value="col-lg-6"/>
																		<xs:enumeration value="col-lg-7"/>
																		<xs:enumeration value="col-lg-8"/>
																		<xs:enumeration value="col-lg-9"/>
																		<xs:enumeration value="col-lg-10"/>
																		<xs:enumeration value="col-lg-11"/>
																		<xs:enumeration value="col-lg-12"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:group ref="cell" maxOccurs="unbounded"/>
														</xs:sequence>
														<xs:attribute name="style">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="col-xs-12"/>
																	<xs:enumeration value="col-xs-11"/>
																	<xs:enumeration value="col-xs-10"/>
																	<xs:enumeration value="col-xs-9"/>
																	<xs:enumeration value="col-xs-8"/>
																	<xs:enumeration value="col-xs-7"/>
																	<xs:enumeration value="col-xs-6"/>
																	<xs:enumeration value="col-xs-5"/>
																	<xs:enumeration value="col-xs-4"/>
																	<xs:enumeration value="col-xs-3"/>
																	<xs:enumeration value="col-xs-2"/>
																	<xs:enumeration value="col-xs-1"/>
																	<xs:enumeration value="col-sm-1"/>
																	<xs:enumeration value="col-sm-2"/>
																	<xs:enumeration value="col-sm-3"/>
																	<xs:enumeration value="col-sm-4"/>
																	<xs:enumeration value="col-sm-5"/>
																	<xs:enumeration value="col-sm-6"/>
																	<xs:enumeration value="col-sm-7"/>
																	<xs:enumeration value="col-sm-8"/>
																	<xs:enumeration value="col-sm-9"/>
																	<xs:enumeration value="col-sm-10"/>
																	<xs:enumeration value="col-sm-11"/>
																	<xs:enumeration value="col-sm-12"/>
																	<xs:enumeration value="col-md-1"/>
																	<xs:enumeration value="col-md-2"/>
																	<xs:enumeration value="col-md-3"/>
																	<xs:enumeration value="col-md-4"/>
																	<xs:enumeration value="col-md-5"/>
																	<xs:enumeration value="col-md-6"/>
																	<xs:enumeration value="col-md-7"/>
																	<xs:enumeration value="col-md-8"/>
																	<xs:enumeration value="col-md-9"/>
																	<xs:enumeration value="col-md-10"/>
																	<xs:enumeration value="col-md-11"/>
																	<xs:enumeration value="col-md-12"/>
																	<xs:enumeration value="col-lg-1"/>
																	<xs:enumeration value="col-lg-2"/>
																	<xs:enumeration value="col-lg-3"/>
																	<xs:enumeration value="col-lg-4"/>
																	<xs:enumeration value="col-lg-5"/>
																	<xs:enumeration value="col-lg-6"/>
																	<xs:enumeration value="col-lg-7"/>
																	<xs:enumeration value="col-lg-8"/>
																	<xs:enumeration value="col-lg-9"/>
																	<xs:enumeration value="col-lg-10"/>
																	<xs:enumeration value="col-lg-11"/>
																	<xs:enumeration value="col-lg-12"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attribute name="bgcolor" type="bgcolor"/>
														<xs:attribute name="bordercolor" type="bordercolor"/>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:choice>
									<xs:attribute name="height">
										<xs:annotation>
											<xs:documentation>高度</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="gap">
										<xs:annotation>
											<xs:documentation>四边间距，相当于padding</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="userblock" mixed="1">
		<xs:annotation>
			<xs:documentation>任意HTML标签</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="common-attribute">
		<xs:annotation>
			<xs:documentation>通用属性</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="vue-attribute">
				<xs:attribute name="id">
					<xs:annotation>
						<xs:documentation>标识</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="name">
					<xs:annotation>
						<xs:documentation>名称</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="class">
					<xs:annotation>
						<xs:documentation>类</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="text-align">
					<xs:annotation>
						<xs:documentation>文本对齐方式</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="vue-attribute">
		<xs:annotation>
			<xs:documentation>VUE属性</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="v-bind" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="name" use="required"/>
					<xs:attribute name="value" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="v-on" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="name" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="click"/>
								<xs:enumeration value="dbclick"/>
								<xs:enumeration value="contextmenu"/>
								<xs:enumeration value="wheel"/>
								<xs:enumeration value="mouseenter"/>
								<xs:enumeration value="mouseover"/>
								<xs:enumeration value="mousemove"/>
								<xs:enumeration value="mousedown"/>
								<xs:enumeration value="mouseup"/>
								<xs:enumeration value="onmouseleave"/>
								<xs:enumeration value="mouseout"/>
								<xs:enumeration value="keydown"/>
								<xs:enumeration value="keypress"/>
								<xs:enumeration value="keyup"/>
								<xs:enumeration value="submit"/>
								<xs:enumeration value="reset"/>
								<xs:enumeration value="focus"/>
								<xs:enumeration value="blur"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="value" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="v-if"/>
		<xs:attribute name="v-else"/>
		<xs:attribute name="v-else-if"/>
		<xs:attribute name="v-for"/>
		<xs:attribute name="v-model"/>
		<xs:attribute name="v-once"/>
		<xs:attribute name="v-html"/>
		<xs:attribute name="v-show"/>
	</xs:complexType>
</xs:schema>
